html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: darkgray;
}
#page-wrapper {
	margin: 0px auto;
	width: 1200px;
	background-color: lightgray;
}
#content {
	width: 1000px;
	margin: 50px auto;
}
.tmp_name {
	display: none;
}
form>div>label {
	display: inline-block;
	width: 120px;
	padding: 5px 10px;
}
form>div>input {
	width: 300px;
}
#content .index-header, 
#content .logout-header {
	display: inline-block;
}

#content .logout-header {
	float: right;
}

.gallery img {
	height: 150px;
	margin-right: 20px;
}
